<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div
    id="container"
    
  >
    <ion-card style="margin: 0px">
      <img
        alt="Silhouette of mountains"
        src="../../assets/icon/Imagen Login.png"
      />
      <ion-card-header>
        <ion-card-title>Bienvenido</ion-card-title>
      </ion-card-header>
    </ion-card>
    <br />
    <ion-item fill="outline">
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <br />
    <ion-item fill="outline">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <br>
    <ion-button expand="block" routerLink="/participantes">Iniciar sesión</ion-button>
  </div>
</ion-content>
